@*@model Repository.Models.Advertisement*@
@model Repository.Models.Views.AcceptAdvertisementViewModel

@{
    ViewBag.Title = "Accept";
}

<h2>Accept</h2>

@if (TempData["alert"] != null)
{
    <p>@TempData["alert"]</p>
}

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Advertisement.Id)

        <h4>Cieszymy się, że udało Ci się znaleźć pomoc! Możesz się teraz odwdzięczyć osobom, które wyciągnęły do Ciebie rękę.</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.Advertisement.Helpers, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emails[0], new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.Emails[1], new { htmlAttributes = new { @class = "form-control" } })
                @Html.EditorFor(model => model.Emails[2], new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Advertisement.PerformanceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Advertisement.PerformanceId, new SelectList(Model.Performances, "Id", "Name"), "", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
