@model Repository.Models.Advertisement

@{
    ViewBag.Title = Model.Title;
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="col-md-8" style="padding:0px;">
        <div>
            <strong>@Html.DisplayFor(model => model.Location.Name)</strong> |
            Data dodania: @Html.DisplayFor(model => model.AddDate) |
            Trudność: @Html.DisplayFor(model => model.Difficulty.Name)
        </div>
        <br />
        <div>
            @Html.DisplayFor(model => model.Content)
        </div>
        <br />
        <div>
            @if (Model.AdvertisementPhotos.Any())
            {
                foreach (var p in Model.AdvertisementPhotos)
                {
                    <a href="">
                        <img src="~/AdvertisementPhoto?id=@p.Id&thumbnail=true" alt="photo"
                             onclick="javascript:window.open('@(Url.Action("Index", "AdvertisementPhoto", new { id = p.Id, thumbnail = false}))')" />
                    </a>
                }
            }
        </div>
        <br />
        <div>
            @Html.ActionLink("Powrót", "Index")
        </div>
    </div>
    <div class="col-md-4">
        @if (Model.Author.Avatar != null)
        {
            <div>
                <img src="~/Avatar?id=@Model.Author.Avatar.Id" alt="avatar" />
            </div>
        }
        <div>
            <h4>@Html.DisplayFor(model => model.Author.FullName)</h4>
            <h6>Email: @Html.DisplayFor(model => model.Author.Email)</h6>
            @if (Model.Author.PhoneNumber != null)
            {
                <h6>Telefon: @Html.DisplayFor(model => model.Author.PhoneNumber)</h6>
            }
        </div>
    </div>
</div>