@using PagedList;
@using PagedList.Mvc;
@model Repository.Models.Views.ManageViewModel

@{
    ViewBag.Title = "Profil użytkownika";
}

<h2>@ViewBag.Title.</h2>

<div id="tabs">
    <ul class="nav nav-tabs">
        <li><a href="#Profile">Mój profil</a></li>
        <li><a href="#PersonalAdvertisements">Moje ogłoszenia</a></li>
        <li><a href="#RewardedAdvertisements">Moja pomoc</a></li>
        <li><a href="#Rewards">Moje nagrody</a></li>
    </ul>
    <div id="Profile">
        @if (TempData["alert"] != null)
        {
            <p>@TempData["alert"]</p>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ApplicationUser.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicationUser.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ApplicationUser.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ApplicationUser.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicationUser.PhoneNumber, "Numer telefonu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ApplicationUser.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ApplicationUser.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicationUser.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ApplicationUser.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ApplicationUser.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicationUser.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ApplicationUser.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ApplicationUser.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Zmień hasło", "ChangePassword")
        </div>
    </div>
    <div id="PersonalAdvertisements">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.PersonalAdvertisements.FirstOrDefault().Location.Name).ToHtmlString(), "Index", new { sortOrderPA = ViewBag.LocationSortParmPA })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.PersonalAdvertisements.FirstOrDefault().Title).ToHtmlString(), "Index", new { sortOrderPA = ViewBag.TitleSortParmPA })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.PersonalAdvertisements.FirstOrDefault().AddDate).ToHtmlString(), "Index", new { sortOrderPA = ViewBag.AddDateSortParmPA })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.PersonalAdvertisements.FirstOrDefault().Difficulty.Name).ToHtmlString(), "Index", new { sortOrderPA = ViewBag.DifficultySortParmPA })
                </th>
            </tr>

            @foreach (var item in Model.PersonalAdvertisements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditPA", new { id = item.Id }) |
                        @Html.ActionLink("Details", "DetailsPA", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeletePA", new { id = item.Id }) |
                        @Html.ActionLink("Accept", "AcceptPA", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PersonalAdvertisements.PageCount < Model.PersonalAdvertisements.PageNumber ? 0 : Model.PersonalAdvertisements.PageNumber) of @Model.PersonalAdvertisements.PageCount
        @Html.PagedListPager(Model.PersonalAdvertisements, pagePA => Url.Action("Index", new { pagePA, sortOrderPA = ViewBag.CurrentSortPA }))
    </div>
    <div id="RewardedAdvertisements">
        <table class="table">
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.RewardedAdvertisements.FirstOrDefault().Author.UserName)
                </th>*@
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.RewardedAdvertisements.FirstOrDefault().Location.Name).ToHtmlString(), "Index", new { sortOrderRA = ViewBag.LocationSortParmRA })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.RewardedAdvertisements.FirstOrDefault().Title).ToHtmlString(), "Index", new { sortOrderRA = ViewBag.TitleSortParmRA })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.RewardedAdvertisements.FirstOrDefault().AddDate).ToHtmlString(), "Index", new { sortOrderRA = ViewBag.AddDateSortParmRA })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.RewardedAdvertisements.FirstOrDefault().Difficulty.Name).ToHtmlString(), "Index", new { sortOrderRA = ViewBag.DifficultySortParmRA })
                </th>
            </tr>

            @foreach (var item in Model.RewardedAdvertisements)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Author.UserName)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "DetailsRA", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.RewardedAdvertisements.PageCount < Model.RewardedAdvertisements.PageNumber ? 0 : Model.RewardedAdvertisements.PageNumber) of @Model.RewardedAdvertisements.PageCount
        @Html.PagedListPager(Model.RewardedAdvertisements, pageRA => Url.Action("Index", new { pageRA, sortOrderRA = ViewBag.CurrentSortRA }))
    </div>
    <div id="Rewards">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.Rewards.FirstOrDefault().ReceivedDate).ToHtmlString(), "Index", new { sortOrderRC = ViewBag.ReceivedDateSortParmRC })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(model => model.Rewards.FirstOrDefault().Reward.Name).ToHtmlString(), "Index", new { sortOrderRC = ViewBag.RewardNameSortParmRC })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rewards.FirstOrDefault().Code)
                </th>
            </tr>

            @foreach (var item in Model.Rewards)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reward.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.Rewards.PageCount < Model.Rewards.PageNumber ? 0 : Model.Rewards.PageNumber) of @Model.Rewards.PageCount
        @Html.PagedListPager(Model.Rewards, pageRC => Url.Action("Index", new { pageRC, sortOrderRC = ViewBag.CurrentSortRC }))
    </div>
</div>

<script>
    $(function () {
        //$("#tabs").tabs();
        var index = 'qpsstats-active-tab';
        var dataStore = window.sessionStorage;
        var oldIndex = 0;
        try {
            oldIndex = dataStore.getItem(index);
        } catch (e) { }

        $("#tabs").tabs({
            active: oldIndex,
            activate: function (event, ui) {
                var newIndex = ui.newTab.parent().children().index(ui.newTab);
                try {
                    dataStore.setItem(index, newIndex);
                } catch (e) { }
            }
        });
    });
</script>