@model Repository.Models.Views.RewardsViewModel

@{
    ViewBag.Title = "Nagrody";
}

<h2>Nagrody</h2>

@if (User.Identity.IsAuthenticated)
{
    <p><strong>Masz @Model.ApplicationUser.Points punktów</strong></p>
}
<hr />
<table class="table">
    @foreach (var item in Model.Rewards)
    {
        <tr class="clickable-row" onclick="if(confirm('Czy na pewno chcesz otrzymać tę nagrodę?')) location.href = '@(Url.Action("RewardCode", "Rewards", new { id = item.Id }))'">
            <td>
                <div class="form-group">
                    <div class="col-md-10" id="reward-container">
                        <img src="~/RewardPhoto?id=@item.RewardPhoto.Id" alt="photo"/>
                        <div>
                            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            <h6>Wymagane punkty: <strong>@Html.DisplayFor(modelItem => item.Price)</strong></h6>
                        </div>
                    </div>
                </div>
            </td>
            @*<td>
                @Html.ActionLink("Wybieram", "RewardCode", new { id = item.Id }, new { onclick = "return confirm('Czy na pewno chcesz otrzymać tę nagrodę?')" })
            </td>*@
        </tr>
    }
</table>

@Html.Raw(TempData["alert"])