@*@model IEnumerable<Repository.Models.Reward>*@
@model Repository.Models.Views.RewardsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Nagrody</h2>

@if (TempData["alert"] != null)
{
    <p>@TempData["alert"]</p>
}

<p>Masz @Model.ApplicationUser.Points punktów</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rewards.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rewards.FirstOrDefault().Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Rewards) {
    <tr>
        <td>
            @if (item.RewardPhoto != null)
            {
                <div class="form-group">
                    <div class="col-md-10">
                        <img src="~/RewardPhoto?id=@item.RewardPhoto.Id" alt="photo" />
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Wybieram", "RewardCode", new { id=item.Id }, new { onclick = "return confirm('Czy na pewno chcesz otrzymać tę nagrodę?')" })
        </td>
    </tr>
}

</table>
